<!DOCTYPE html>
<html>
<head>
  <title>RecipeBook</title>
  <link href='http://fonts.googleapis.com/css?family=Lora|Lobster' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lora:400,700|Josefin+Sans:400,600' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


<body>
<header>
  <nav class="navbar navbar-default navbar-top" role="navigation">

     <form class="navbar-form navbar-left" role="search" action="/recipes/search" method="get">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" name="query">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>

    <ul class="nav navbar-nav">
      <li class="nav_link"><a href="/" class="link"> Home </a></li>
      <li class="nav_link"><a href="/recipes" class="link"> Contribute </a></li>
      <li class="nav_link"><a href="/recipes/library" class="link"> Recipes </a></li>
    </ul>
</nav>

<h1> Gobster </h1>
<h4 class="italic"> <%= render('tagline') %> </h4>
</header>


<%= render('layouts/errors', :object => @recipe) %>

<div id="notice">
<%= flash[:notice] %>
</div>

<div class="container">

<%= yield %>

</div>

</body>
</html>
